      <link rel="stylesheet" href="~/css/about.css">

    <br><br><br>

    <div class="container ">

        <div class="row">
            <div class="col-lg-6">
                <br>
                <br>
                <h2 style="color: #504979;" class="text-center text-uppercase font-weight-bold">About</h2>
                <p style="color: #504979;" class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quam nostrum quidem sunt quasi voluptatibus
                    a obcaecati hic molestias! Quaerat enim voluptatibus sint magnam nihil nemo ut dignissimos labore
                    nesciunt hic.</p>
                <div class="d-flex justify-content-center align-items-center ">
                    <button style="background-color: #504979;" type="button" class="btn text-white  pr-4 pl-4">Info</button>
                </div>
                <br>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center"> <img 
                    class="rounded float-right" src="img/about.png" alt=""></div>
        </div>
    </div>
