      <link rel="stylesheet" href="~/css/login.css">

    <!--Login page-->
    <div class="container">


        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="container">
                    <form>
                        <h1 class="text-center">Giriş</h1>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">

                        </div>
                        <div class="d-flex justify-content-center align-items-center"> <button
                                style="background-color: #666AF6;" class="b2 btn text-white">Login</button>
                        </div>
                        <p class="p">ــــــــــــــــــــ or ــــــــــــــــــــ</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button style="background-color: #666AF6;"  class="b2 btn text-white"><a href="register.html" class="text-white">Register</a></button>
                        
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center"><img class="login-img"
                    src="~/img/108.png" alt=""></div>

        </div>

    </div>
    <!--Login page end-->
  <script src="~/js/login.js"></script>